@page "/historicalData"
@attribute [StreamRendering(true)]

<PageTitle>Historical Data</PageTitle>

<h1>HistoricalData</h1>

<p>This component demonstrates showing data from the server.</p>


@code {

}